@model List<Product>

<div class="container">

    <div class="row pt-3 pb-3">
        <div class="col-6">
            <h2 class="text-dark">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-dark">
                <i class="bi bi-plus-circle"></i> New Product
            </a>
        </div>
    </div>

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price(Rs.)</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    
</table>

</div>


@section Scripts{
    <script src="~/js/product.js"></script>
}
